/* imports */
/* fonts */
@font-face {
  font-family: "quicksand-light";
  src: url("https://use.typekit.net/af/d14ba4/00000000000000007735a132/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/d14ba4/00000000000000007735a132/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/d14ba4/00000000000000007735a132/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal; }

@font-face {
  font-family: "quicksand";
  src: url("https://use.typekit.net/af/dfafcb/00000000000000007735a135/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"), url("https://use.typekit.net/af/dfafcb/00000000000000007735a135/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"), url("https://use.typekit.net/af/dfafcb/00000000000000007735a135/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal; }

@font-face {
  font-family: 'perpetuaregular';
  src: url("../assets/fonts/perpetua/per_____-webfont.woff2") format("woff2"), url("../assets/fonts/perpetua/per_____-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* Fonts */
.h2 {
  font-family: "perpetuaregular", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0; }

.btn-white {
  width: 163px;
  height: 38.5px;
  border: 1px solid #000000;
  text-transform: uppercase;
  color: #000000;
  font-family: "quicksand";
  font-weight: 300;
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.62px;
  transition: ease-in-out .2s;
  padding-top: 5px; }
  @media screen and (min-width: 481px) and (max-width: 1599px) {
    .btn-white {
      width: 200px;
      height: 50px;
      font-size: 11px;
      letter-spacing: 2.4px; } }
  @media screen and (min-width: 1600px) {
    .btn-white {
      width: 264px;
      height: 62px;
      font-size: 14px;
      letter-spacing: 2.4px; } }

.btn-white:hover {
  background-color: #000000;
  color: #ffffff;
  font-size: 8px;
  transition: ease-in-out .2s; }
  @media screen and (min-width: 481px) and (max-width: 1599px) {
    .btn-white:hover {
      font-size: 10px; } }
  @media screen and (min-width: 1600px) {
    .btn-white:hover {
      width: 264px;
      height: 62px;
      font-size: 15px;
      letter-spacing: 2.4px; } }

.modal-backdrop {
  --bs-backdrop-zindex: 0; }

body {
  overflow-x: hidden; }

#header {
  height: 20vh; }
  #header .headerTop {
    padding: 20px 10%;
    display: flex;
    height: 12vh;
    align-items: center;
    position: relative;
    z-index: 1; }
    @media screen and (min-width: 768px) {
      #header .headerTop {
        padding: 20px 2%;
        height: 20vh; } }
    #header .headerTop img:first-child {
      width: 30px;
      height: auto;
      cursor: pointer; }
    #header .headerTop .logo {
      width: 100%;
      display: flex;
      justify-content: center; }
      #header .headerTop .logo svg {
        width: 100px;
        height: auto;
        cursor: pointer; }
  #header .caption {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0; }
    #header .caption img:first-child {
      height: 90vh;
      width: 100%;
      object-fit: cover;
      object-position: right; }
      @media screen and (min-width: 768px) {
        #header .caption img:first-child {
          height: 100vh;
          object-position: center; } }
    #header .caption img:nth-child(2) {
      display: none;
      transition: '1s ease-in-out'; }
      @media screen and (max-width: 999px) {
        #header .caption img:nth-child(2) {
          display: none !important; } }
      @media screen and (min-width: 1000px) {
        #header .caption img:nth-child(2) {
          display: block;
          height: 155vh;
          width: 25%;
          position: absolute;
          z-index: 1;
          top: 35%;
          right: -25%;
          object-fit: cover;
          object-position: center; } }
    #header .caption .filter {
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3); }
      @media screen and (min-width: 768px) {
        #header .caption .filter {
          height: 100vh; } }

#main {
  position: relative;
  z-index: 2; }
  #main #captionTextContainer {
    position: relative;
    height: 70vh;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    @media screen and (min-width: 768px) {
      #main #captionTextContainer {
        padding: 0 17%;
        height: 80vh; } }
    #main #captionTextContainer h1 {
      font-family: "perpetuaregular", sans-serif;
      font-size: 40px;
      line-height: 47px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 200;
      margin-bottom: 0%; }
      @media screen and (min-width: 481px) and (max-width: 629px) {
        #main #captionTextContainer h1 {
          margin-top: 15%;
          font-size: 60px;
          line-height: 60px; } }
      @media screen and (min-width: 630px) and (max-width: 1199px) {
        #main #captionTextContainer h1 {
          margin-top: 15%;
          font-size: 75px;
          line-height: 75px; } }
      @media screen and (min-width: 1200px) and (max-width: 1599px) {
        #main #captionTextContainer h1 {
          margin-top: 15%;
          font-size: 95px;
          line-height: 95px; } }
      @media screen and (min-width: 1600px) {
        #main #captionTextContainer h1 {
          margin-top: 15%;
          font-size: 134px;
          line-height: 134px; } }
    #main #captionTextContainer .captionSub {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 30vh;
      margin-top: 5%;
      margin-bottom: 10%; }
      @media screen and (min-width: 1000px) {
        #main #captionTextContainer .captionSub {
          height: auto;
          flex-direction: row;
          align-items: center;
          justify-content: space-between; } }
      #main #captionTextContainer .captionSub p {
        font-size: 14px;
        line-height: 20px;
        font-family: "quicksand";
        color: #000000;
        color: #ffffff;
        width: 100%;
        margin-top: 1.5rem; }
        @media screen and (min-width: 481px) and (max-width: 629px) {
          #main #captionTextContainer .captionSub p {
            font-size: 16px;
            line-height: 33px;
            width: 80%;
            margin-top: unset; } }
        @media screen and (min-width: 630px) and (max-width: 999px) {
          #main #captionTextContainer .captionSub p {
            font-size: 18px;
            line-height: 36px;
            width: 60%;
            margin-top: unset; } }
        @media screen and (min-width: 1000px) {
          #main #captionTextContainer .captionSub p {
            font-size: 20px;
            line-height: 30px;
            width: 40%;
            margin-top: unset; } }
      #main #captionTextContainer .captionSub a {
        border: 1px solid #000000;
        background-color: #ffffff;
        height: 34px;
        width: 119px;
        font-family: "quicksand";
        font-size: 10px;
        letter-spacing: 1px;
        line-height: 32px;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        text-decoration: none;
        color: #000000;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto; }
        @media screen and (min-width: 481px) and (max-width: 629px) {
          #main #captionTextContainer .captionSub a {
            height: 50px;
            width: 150px;
            letter-spacing: 2.84px;
            left: -5%; } }
        @media screen and (min-width: 630px) and (max-width: 999px) {
          #main #captionTextContainer .captionSub a {
            height: 50px;
            width: 150px;
            letter-spacing: 2.84px;
            left: -5%; } }
        @media screen and (min-width: 1000px) {
          #main #captionTextContainer .captionSub a {
            height: 110px;
            width: 190px;
            letter-spacing: 2.84px;
            left: -5%; } }
  #main #blockLieu {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10% 10% 5%; }
    @media screen and (min-width: 768px) and (max-width: 199px) {
      #main #blockLieu {
        height: 92vh;
        padding: 10% 20% 5%; } }
    @media screen and (min-width: 1600px) {
      #main #blockLieu {
        height: 90vh;
        padding: 10% 20% 5%; } }
    #main #blockLieu h2, #main #blockLieu p {
      text-align: left; }
    #main #blockLieu p {
      width: 100%;
      color: #707070;
      font-size: 15px;
      line-height: 30px;
      font-family: "quicksand-light";
      margin-top: 0;
      padding-left: 0;
      padding-bottom: 50px; }
      @media screen and (min-width: 768px) and (max-width: 999px) {
        #main #blockLieu p {
          padding-left: 0;
          width: 75%; } }
      @media screen and (min-width: 1000px) and (max-width: 1599px) {
        #main #blockLieu p {
          padding-left: 0;
          width: 50%; } }
      @media screen and (min-width: 1600px) {
        #main #blockLieu p {
          padding-left: 60px;
          width: 45%; } }
    #main #blockLieu .line {
      width: 100px;
      color: black;
      margin: 0;
      margin: 20px 0 40px 0; }
      @media screen and (min-width: 768px) {
        #main #blockLieu .line {
          width: 200px; } }
  #main #blockService {
    height: auto;
    display: flex;
    position: relative; }
    @media screen and (max-width: 767px) {
      #main #blockService {
        margin-bottom: 50px; } }
    @media screen and (min-width: 1599px) {
      #main #blockService {
        height: 170vh; } }
    #main #blockService .left {
      width: 100%;
      height: auto; }
      @media screen and (min-width: 1000px) {
        #main #blockService .left {
          width: 60%;
          height: 170vh;
          display: flex;
          flex-direction: column;
          justify-content: space-between; } }
      #main #blockService .left #homeCarousel {
        height: auto; }
        @media screen and (min-width: 1000px) {
          #main #blockService .left #homeCarousel {
            height: 50vh; } }
        #main #blockService .left #homeCarousel .carousel-indicators {
          justify-content: center; }
          @media screen and (min-width: 1000px) {
            #main #blockService .left #homeCarousel .carousel-indicators {
              justify-content: flex-start;
              margin-left: 5%; } }
          #main #blockService .left #homeCarousel .carousel-indicators button {
            width: 40px;
            height: 4px; }
            @media screen and (min-width: 1000px) {
              #main #blockService .left #homeCarousel .carousel-indicators button {
                width: 80px;
                height: 4px; } }
        #main #blockService .left #homeCarousel img {
          width: 100%;
          height: auto;
          object-fit: cover;
          object-position: center; }
          @media screen and (min-width: 1000px) {
            #main #blockService .left #homeCarousel img {
              height: 50vh; } }
      #main #blockService .left .service {
        height: auto;
        padding: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        @media screen and (min-width: 481px) and (max-width: 767px) {
          #main #blockService .left .service {
            display: block;
            height: auto;
            padding: 10%; } }
        @media screen and (min-width: 768px) and (max-width: 1599px) {
          #main #blockService .left .service {
            display: block;
            height: auto;
            padding: 10% 10% 5%; } }
        @media screen and (min-width: 1600px) {
          #main #blockService .left .service {
            display: block;
            height: 60vh;
            padding: 10% 15% 0 33%; } }
        #main #blockService .left .service p {
          width: 100%;
          color: #707070;
          font-size: 15px;
          line-height: 30px;
          font-family: "quicksand-light";
          margin-top: 0;
          padding-left: 0;
          padding-bottom: 50px; }
          @media screen and (min-width: 481px) and (max-width: 999px) {
            #main #blockService .left .service p {
              padding-left: 0px;
              width: 80%; } }
          @media screen and (min-width: 1000px) and (max-width: 1599px) {
            #main #blockService .left .service p {
              padding-left: 0px;
              width: 60%; } }
          @media screen and (min-width: 1600px) {
            #main #blockService .left .service p {
              padding-left: 60px;
              width: 70%; } }
          #main #blockService .left .service p .btn-white {
            width: 250px; }
        #main #blockService .left .service .line {
          width: 100px;
          color: black;
          margin: 0;
          margin: 20px 0 40px 0; }
          @media screen and (min-width: 768px) {
            #main #blockService .left .service .line {
              width: 200px; } }
      #main #blockService .left .homeVideoContainer {
        width: 100%;
        height: auto;
        display: flex;
        height: 34vh;
        position: relative;
        z-index: 2; }
        @media screen and (min-width: 800px) and (max-width: 1000px) {
          #main #blockService .left .homeVideoContainer {
            height: auto; } }
        @media screen and (min-width: 1599px) {
          #main #blockService .left .homeVideoContainer {
            height: 60vh; } }
        #main #blockService .left .homeVideoContainer .video {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          margin: 0 auto;
          position: relative;
          z-index: 3;
          height: 100%; }
          @media screen and (min-width: 600px) and (max-width: 700px) {
            #main #blockService .left .homeVideoContainer .video {
              width: 100%;
              height: auto; } }
          @media screen and (min-width: 701px) and (max-width: 999px) {
            #main #blockService .left .homeVideoContainer .video {
              width: 80vw;
              height: auto;
              margin: 0 auto; } }
          @media screen and (min-width: 1000px) {
            #main #blockService .left .homeVideoContainer .video {
              width: 60vw;
              height: auto;
              transform: translateX(50%); } }
          @media screen and (min-width: 1000px) {
            #main #blockService .left .homeVideoContainer .video {
              width: 40vw;
              height: auto;
              transform: translateX(50%); } }
          #main #blockService .left .homeVideoContainer .video img {
            position: absolute;
            top: 50%;
            cursor: pointer; }
            @media screen and (max-width: 480px) {
              #main #blockService .left .homeVideoContainer .video img {
                transform: scale(0.7);
                top: 25%; } }
            @media screen and (min-width: 481px) and (max-width: 1599px) {
              #main #blockService .left .homeVideoContainer .video img {
                transform: scale(0.7);
                top: 25%; } }
          #main #blockService .left .homeVideoContainer .video video {
            height: 100%;
            object-fit: cover;
            width: 100%;
            position: relative; }
            @media screen and (min-width: 481px) and (max-width: 999px) {
              #main #blockService .left .homeVideoContainer .video video {
                height: auto;
                width: 80vw;
                margin: 0 10%; } }
            @media screen and (min-width: 1600px) {
              #main #blockService .left .homeVideoContainer .video video {
                height: auto; } }
          #main #blockService .left .homeVideoContainer .video button {
            height: 7vh;
            border: 1px solid #C2A68B;
            background-color: #C2A68B;
            color: #ffffff;
            width: 90%;
            margin-left: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-family: "quicksand-light";
            font-size: 14px;
            letter-spacing: 2.84px;
            transition: ease-in-out .2s; }
            @media screen and (min-width: 600px) and (max-width: 700px) {
              #main #blockService .left .homeVideoContainer .video button {
                margin-right: 10%;
                margin-left: auto; } }
            @media screen and (min-width: 481px) and (max-width: 999px) {
              #main #blockService .left .homeVideoContainer .video button {
                width: 50vw;
                height: 8vh; } }
            @media screen and (min-width: 1000px) {
              #main #blockService .left .homeVideoContainer .video button {
                width: 40%; } }
            #main #blockService .left .homeVideoContainer .video button:hover {
              color: #000000;
              font-size: 15px;
              transition: ease-in-out .2s; }
    #main #blockService .right {
      display: none; }
      @media screen and (min-width: 999px) {
        #main #blockService .right {
          display: block;
          width: 40%; }
          #main #blockService .right img {
            width: 100%;
            height: 170vh;
            object-fit: cover;
            object-position: center;
            position: relative;
            z-index: 2; } }
  #main #blockOffer {
    width: 100vw;
    height: auto;
    display: flex;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    border-radius: 0;
    padding-left: 0;
    right: 0; }
    @media screen and (min-width: 767px) and (max-width: 999px) {
      #main #blockOffer {
        margin-top: 100px; } }
    @media screen and (min-width: 1024px) {
      #main #blockOffer {
        padding-left: 15%;
        padding-right: 5%;
        margin-top: 100px;
        height: 100vh; } }
    @media screen and (min-width: 1400px) {
      #main #blockOffer {
        right: -800px; } }
    #main #blockOffer .offerSub {
      width: 20%;
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: 75vh;
      text-align: end; }
      @media screen and (min-width: 481px) and (max-width: 600px) {
        #main #blockOffer .offerSub {
          height: 60vh; } }
      @media screen and (min-width: 999px) and (max-width: 1400px) {
        #main #blockOffer .offerSub {
          display: none; } }
      #main #blockOffer .offerSub h2 {
        width: 500px;
        height: 16vh;
        font-size: 36px;
        font-family: "perpetuaregular", sans-serif;
        text-transform: uppercase;
        position: sticky;
        transform: rotate(-90deg);
        z-index: 1; }
        @media screen and (min-width: 1000px) {
          #main #blockOffer .offerSub h2 {
            height: auto;
            left: 15%;
            top: 30%;
            position: sticky;
            margin-top: 65%; } }
        #main #blockOffer .offerSub h2 span {
          width: 100%;
          display: flex;
          justify-content: flex-end; }
          #main #blockOffer .offerSub h2 span hr {
            color: #000000;
            height: 1px;
            width: 85%; }
    #main #blockOffer .cardContainer {
      width: 70%;
      height: auto;
      display: flex;
      flex-direction: column; }
      @media screen and (min-width: 1000px) {
        #main #blockOffer .cardContainer {
          width: 85%;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          height: 100vh; } }
      #main #blockOffer .cardContainer .cardz {
        height: auto;
        color: #ffffff;
        display: flex;
        flex-direction: column-reverse;
        background-color: #C2A68B;
        color: #ffffff;
        margin-bottom: 50px;
        width: 100%; }
        @media screen and (min-width: 1000px) and (max-width: 1599px) {
          #main #blockOffer .cardContainer .cardz {
            flex-direction: column-reverse;
            width: 48%;
            height: 70vh;
            margin-left: 50px; } }
        @media screen and (min-width: 1600px) {
          #main #blockOffer .cardContainer .cardz {
            width: 48%;
            height: 70vh;
            flex-direction: row;
            margin-left: 50px; } }
        #main #blockOffer .cardContainer .cardz .cardLeft {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          padding: 10%;
          text-align: center; }
          @media screen and (min-width: 481px) and (max-width: 1599px) {
            #main #blockOffer .cardContainer .cardz .cardLeft {
              width: 100%; } }
          @media screen and (min-width: 1599px) {
            #main #blockOffer .cardContainer .cardz .cardLeft {
              width: 60%; } }
          #main #blockOffer .cardContainer .cardz .cardLeft h3 {
            font-family: "perpetuaregular", sans-serif;
            font-size: 24px;
            font-weight: 300;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1.9px; }
            @media screen and (min-width: 999px) {
              #main #blockOffer .cardContainer .cardz .cardLeft h3 {
                font-size: 42px;
                letter-spacing: 3.32px; } }
          #main #blockOffer .cardContainer .cardz .cardLeft p {
            text-align: center;
            font-size: 15px; }
          #main #blockOffer .cardContainer .cardz .cardLeft h4 {
            font-size: 14px;
            letter-spacing: 2.84;
            text-transform: uppercase; }
          #main #blockOffer .cardContainer .cardz .cardLeft a {
            border: 1px solid #ffffff;
            background-color: #C2A68B;
            color: #ffffff;
            text-decoration: none;
            font-family: "quicksand-light";
            font-size: 14px;
            letter-spacing: 2.84px;
            transition: ease-in-out .2s;
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase; }
            #main #blockOffer .cardContainer .cardz .cardLeft a:hover {
              color: #000000;
              border: 1px solid #000000;
              font-size: 15px;
              transition: ease-in-out .2s; }
        #main #blockOffer .cardContainer .cardz .cardRight {
          width: 100%; }
          @media screen and (min-width: 1000px) and (max-width: 1599) {
            #main #blockOffer .cardContainer .cardz .cardRight {
              width: 100%;
              height: 100%; } }
          @media screen and (min-width: 1600px) {
            #main #blockOffer .cardContainer .cardz .cardRight {
              width: 40%; } }
          #main #blockOffer .cardContainer .cardz .cardRight img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center; }

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh; }
