/* Fonts */
$perpetua : "perpetuaregular", sans-serif;
$qs : "quicksand";
$qsl : "quicksand-light";

// colors
$black : #000000;
$grey :#707070;
$white: #ffffff;
$brown : #C2A68B;
$perle: #C2A68B21;


// components

.h2 {
    font-family: $perpetua;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 0;
}

.btn-white {
    width: 163px;
    height: 38.5px;
    border: 1px solid $black;
    text-transform: uppercase;
    color: $black;
    font-family: $qs;
    font-weight: 300;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;   
    letter-spacing: 1.62px;
    transition: ease-in-out .2s;
    padding-top: 5px;
    @media screen and (min-width: 481px) and (max-width: 1599px) {
        width: 200px;
        height: 50px;
        font-size: 11px;
        letter-spacing: 2.4px;  
    }

    @media screen and (min-width: 1600px) {
        width: 264px;
        height: 62px;
        font-size: 14px;
        letter-spacing: 2.4px;  
    }

}
.btn-white:hover {
    background-color: $black;
    color: $white;
    font-size: 8px;
    transition: ease-in-out .2s;
    @media screen and (min-width: 481px) and (max-width: 1599px) {
       font-size: 10px;  
    }
    @media screen and (min-width: 1600px) {
        width: 264px;
        height: 62px;
        font-size: 15px;
        letter-spacing: 2.4px;  
    }

}

.modal-backdrop {
    --bs-backdrop-zindex: 0;
}


