
body {
    overflow-x: hidden;
}

#header {
    height: 20vh;

    .headerTop {
        padding: 20px 10%;        
        display: flex;
        height: 12vh;
        align-items: center;
        position: relative;
        z-index: 1;


        @media screen and (min-width: 768px) {
            padding: 20px 2%;        
            height: 20vh;
        }    
                  
        img:first-child {
            width: 30px;
            height: auto;
            cursor: pointer;
        }
        .logo {
            width: 100%;
            display: flex;
            justify-content: center;
            svg {
                width: 100px;
                height: auto;
                cursor: pointer;
            }
        }        
    }
    .caption {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        img:first-child {
            height: 90vh;
            width: 100%;
            object-fit: cover;
            object-position: right;
            @media screen and (min-width: 768px) {
                height: 100vh;          
                object-position: center;
            }
        }  
        img:nth-child(2) {
            display: none;
            transition : '1s ease-in-out';
            @media screen and (max-width: 999px) {
                display: none!important;
            }

            @media screen and (min-width: 1000px) {                
                display: block;
                height: 155vh;
                width: 25%;
                position: absolute;
                z-index: 1;
                top: 35%;
                // left: 75%;
                right: -25%;
                object-fit: cover;
                object-position: center;
            }
        } 
        .filter {
            width: 100%;
            height: 90vh;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($color: #000000, $alpha: .3);
            @media screen and (min-width: 768px) {
                height: 100vh;
            }
        }     
    }
}

#main {
    position: relative;
    z-index: 2;
    #captionTextContainer {

        position: relative;        
        height: 70vh;
        padding: 0 10%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        @media screen and (min-width: 768px) {
            padding: 0 17%; 
            height: 80vh;
        }
        h1 {            
            font-family: $perpetua;
            font-size: 40px;
            line-height: 47px;
            text-transform: uppercase;
            color: $white;
            font-weight: 200;            
            margin-bottom: 0%;
            @media screen and (min-width: 481px) and (max-width: 629px) {
                margin-top: 15%;
                font-size: 60px;
                line-height: 60px;                
            }
            @media screen and (min-width: 630px) and (max-width: 1199px) {
                margin-top: 15%;
                font-size: 75px;
                line-height: 75px;
            }
            @media screen and (min-width: 1200px) and (max-width: 1599px) {
                margin-top: 15%;
                font-size:95px;
                line-height:95px;
            }
            @media screen and (min-width: 1600px) {
                margin-top: 15%;
                font-size: 134px;
                line-height: 134px;
            }
        }
        .captionSub {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 30vh;
            margin-top: 5%;
            margin-bottom: 10%;

            @media screen and (min-width: 1000px) {
                height: auto;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }

            p {                
                font-size: 14px;
                line-height: 20px;
                font-family: $qs;
                color: $black;
                color: $white;
                width: 100%;
                margin-top: 1.5rem;
                @media screen and (min-width: 481px) and (max-width: 629px) {
                    font-size: 16px;
                    line-height: 33px;
                    width: 80%;
                    margin-top: unset;
                }     
                @media screen and (min-width: 630px) and (max-width: 999px) {
                    font-size: 18px;
                    line-height: 36px;
                    width: 60%;
                    margin-top: unset;
                }   
                @media screen and (min-width: 1000px) {
                    font-size: 20px;
                    line-height: 30px;
                    width: 40%;
                    margin-top: unset;
                }                
            }
            a {
                border: 1px solid $black;
                background-color: $white;                
                height: 34px;
                width: 119px;
                font-family: $qs;
                font-size: 10px;
                letter-spacing: 1px;
                line-height: 32px;
                text-transform: uppercase;
                position: relative;
                z-index: 1;
                text-decoration: none;
                color: $black;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: auto;

                @media screen and (min-width: 481px) and (max-width: 629px) {
                    height: 50px; 
                    width: 150px;                  
                    letter-spacing: 2.84px;
                    left: -5%;                    
                }
                @media screen and (min-width: 630px) and (max-width: 999px) {
                    height: 50px; 
                    width: 150px;                  
                    letter-spacing: 2.84px;
                    left: -5%;                    
                }
                @media screen and (min-width:1000px) {
                    height: 110px; 
                    width: 190px;                  
                    letter-spacing: 2.84px;
                    left: -5%;
                    
                }
            }
        }
    }

    #blockLieu {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10% 10% 5%;
        
        @media screen and (min-width: 768px) and (max-width: 199px) {
            height: 92vh;
            padding: 10% 20% 5%;            
        }
        @media screen and (min-width: 1600px) {
            height: 90vh;
            padding: 10% 20% 5%;            
        }

        h2, p {
            text-align: left;
        }

        p {
            width: 100%;
            color: $grey;
            font-size: 15px;
            line-height: 30px;
            font-family: $qsl;
            margin-top: 0;
            padding-left: 0;
            padding-bottom: 50px;

            @media screen and (min-width: 768px) and (max-width: 999px) {
                padding-left: 0;
                width: 75%;          
            }
            @media screen and (min-width: 1000px) and (max-width: 1599px) {
                padding-left: 0;
                width: 50%;         
            }
            @media screen and (min-width: 1600px) {
                padding-left: 60px;
                width: 45%;          
            }
        }
        
        .line {
            width: 100px;
            color: black;
            margin: 0;
            margin: 20px 0 40px 0;
            @media screen and (min-width: 768px) {
                width: 200px;
            }
        }    
        
    }
    #blockService {
        height: auto;
        display: flex;       
        position: relative;
        @media screen and (max-width: 767px) {            
            margin-bottom: 50px;
        }
        @media screen and (min-width: 1599px) {
            height: 170vh;
        }

        .left {
            width: 100%;
            height: auto;
            @media screen and (min-width:1000px) {
                width: 60%;
                height: 170vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;                
            }

            #homeCarousel {
                height: auto;
                @media screen and (min-width: 1000px) {
                    height: 50vh;
                }
                .carousel-indicators {
                    justify-content: center;                    
                    @media screen and (min-width: 1000px) {
                        justify-content: flex-start;
                        margin-left: 5%;
                    }

                    button {
                        width: 40px;
                        height:4px;
                        @media screen and (min-width: 1000px) {
                            width: 80px;
                            height: 4px;
                           
                        }
                    }
                }
                img {
                    width: 100%;
                    height:auto;
                    object-fit: cover;
                    object-position: center;
                    @media screen and (min-width: 1000px) {
                        height: 50vh;
                    }
                }
            }
            .service {
                height: auto;
                padding: 10%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @media screen and (min-width: 481px) and (max-width: 767px) {
                    display: block;
                    height: auto;
                    padding: 10%;
                }
                @media screen and (min-width: 768px) and (max-width: 1599px) {
                    display: block;
                    height: auto;
                    padding: 10% 10% 5%;
                }
                @media screen and (min-width: 1600px) {
                    display: block;
                    height: 60vh;
                    padding: 10% 15% 0 33%;
                }
                p {
                    width: 100%;
                    color: $grey;
                    font-size: 15px;
                    line-height: 30px;
                    font-family: $qsl;
                    margin-top: 0;
                    padding-left: 0;
                    padding-bottom: 50px;
                    @media screen and (min-width: 481px ) and (max-width: 999px) {                       
                        padding-left: 0px;
                        width: 80%;
                    }    
                    @media screen and (min-width: 1000px ) and (max-width: 1599px) {                       
                        padding-left: 0px;
                        width: 60%;
                    }                     
                    @media screen and (min-width: 1600px){                       
                        padding-left: 60px;
                        width: 70%;
                        
                    }

                    .btn-white {
                        width: 250px;
                    }
                }

                .line {
                    width: 100px;
                    color: black;
                    margin: 0;
                    margin: 20px 0 40px 0;
                    @media screen and (min-width: 768px) {
                        width: 200px;
                    }
                }    
            }
            .homeVideoContainer {
                width: 100%;
                height: auto;
                display: flex;
                height: 34vh;   
                position: relative;
                z-index: 2;               

                @media screen and  (min-width: 800px) and (max-width: 1000px) {
                   height: auto;
                }
                @media screen and (min-width: 1599px) {
                    height: 60vh;                  
                }

                .video {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    margin: 0 auto;
                    position: relative;
                    z-index: 3;
                    height: 100%;

                    @media screen and (min-width: 600px) and (max-width: 700px) {
                        width: 100%;
                        height: auto;                            
                    }
                    @media screen and (min-width: 701px) and (max-width: 999px) {
                        width: 80vw;
                        height: auto;   
                        margin: 0 auto;                         
                    }
                    @media screen and (min-width: 1000px) {
                        width: 60vw;
                        height: auto;
                        transform: translateX(50%);                       
                    }
                    @media screen and (min-width: 1000px) {
                        width: 40vw;
                        height: auto;
                        transform: translateX(50%);                       
                    }

                    img {
                        @media screen and (max-width: 480px) {
                            transform: scale(.7);
                            top: 25%;
                        }
                        @media screen and (min-width: 481px) and (max-width: 1599px ) {
                            transform: scale(.7);
                            top: 25%;
                        }
                        position: absolute;
                        top: 50%;
                        cursor: pointer;
                       
                    }
                    video {
                        height:100%;
                        object-fit: cover;
                        width: 100%;
                        position: relative;  
                        @media screen and (min-width: 481px) and (max-width: 999px) {
                            height: auto;
                            width: 80vw;
                            margin: 0 10%;
                        }   
                        @media screen and (min-width: 1600px) {
                            height: auto;
                        }                      
                    }
                    button {
                        height: 7vh;
                        border: 1px solid $brown;
                        background-color: $brown;
                        color: $white;
                        width: 90%;
                        margin-left: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        font-family: $qsl;
                        font-size: 14px;
                        letter-spacing: 2.84px;
                        transition: ease-in-out .2s;
                        @media screen and (min-width: 600px) and (max-width: 700px) {
                            margin-right: 10%;
                            margin-left: auto
                        }
                        @media screen and (min-width: 481px) and (max-width: 999px) {
                            width: 50vw;
                            height: 8vh;                                   
                        }
                        
                        @media screen and (min-width: 1000px) {
                            width: 40%;                            
                        }

                        &:hover {
                            color: $black;
                            font-size: 15px;
                            transition: ease-in-out .2s;                           
                        }
        
                    }
                }
    
            }
        }
        
        .right {
            display: none;
            @media screen and (min-width: 999px) {
                display: block;
                width: 40%;
                img {
                    width: 100%;
                    height: 170vh;
                    object-fit: cover;
                    object-position: center;
                    position: relative;
                    z-index: 2;
                }
            }
        }
    }

    #blockOffer {
        width: 100vw;       
        height: auto;
        display: flex;        
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        border-radius: 0;
        padding-left: 0;
        right: 0;

        @media screen and (min-width: 767px) and (max-width:999px ) {
            margin-top: 100px;
        }

        @media screen and (min-width: 1024px) {
            padding-left: 15%; 
            padding-right: 5%;
            margin-top: 100px;
            height: 100vh;
        }
        @media screen and (min-width: 1400px) {
            right: -800px;
        }

        
        .offerSub {
            width: 20%;
            width: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: 75vh;
            text-align: end;

            @media screen and (min-width: 481px) and (max-width: 600px ) {
                height: 60vh;
            }

            @media screen and (min-width: 999px) and (max-width: 1400px ) {
                display: none;
            }
            


            h2 {
                width: 500px;
                height: 16vh;
                font-size: 36px;
                font-family: "perpetuaregular", sans-serif;
                text-transform: uppercase;
                position: sticky;
                transform: rotate(-90deg);
                z-index: 1;                
              
                @media screen and (min-width: 1000px) {                   
                    height: auto;
                    left: 15%;
                    top: 30%;
                    position: sticky;
                    margin-top: 65%;
                }
    
    
                span {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    hr {
                        color: $black;
                        height: 1px;
                        width: 85%;                        
                    }
                }             
    
            }
        }


        .cardContainer {
            width: 70%;
            height: auto;            
            display: flex;
            flex-direction: column;
            
            @media screen and (min-width: 1000px) {
                width: 85%;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                height: 100vh;
            }


            .cardz {
              
                height:auto;
                color: $white;
                display: flex;
                flex-direction: column-reverse;
                background-color: $brown;
                color: $white;
                margin-bottom: 50px;                
                width: 100%;

                @media screen and (min-width: 1000px) and (max-width: 1599px) {
                    flex-direction: column-reverse;
                    width: 48%;
                    height: 70vh;                    
                    margin-left: 50px;

                }


                @media screen and (min-width: 1600px) {
                    width: 48%;
                    height: 70vh;
                    flex-direction: row;
                    margin-left: 50px;
                }
                .cardLeft {                
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    padding: 10%;
                    text-align: center;

                    @media screen and (min-width: 481px) and (max-width: 1599px) {
                       width: 100%;    
                    }
    

                    @media screen and (min-width: 1599px) {
                        width: 60%;                        
                    }                
    
                    h3 {
                        font-family: $perpetua;
                        font-size: 24px;
                        font-weight: 300;                    
                        text-align: center;
                        text-transform: uppercase;
                        letter-spacing: 1.9px;
                        @media screen and (min-width: 999px) {
                            font-size: 42px;    
                            letter-spacing: 3.32px;

                        }   
                        
                    }
                    p {
                        text-align: center;
                        font-size: 15px;
                    }
                    h4 {
                        font-size: 14px;
                        letter-spacing: 2.84;
                        text-transform: uppercase;
                    }
                    a {
                        border: 1px solid $white;
                        background-color: $brown;
                        color: $white;      
                        text-decoration: none;
                        font-family: $qsl;
                        font-size: 14px;
                        letter-spacing: 2.84px;
                        transition: ease-in-out .2s;
                        width: 100%;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-transform: uppercase;
                        &:hover {
                            color: $black;
                            border: 1px solid $black;
                            font-size: 15px;
                            transition: ease-in-out .2s;                           
                        }
                    }
                }
                .cardRight {
                    width: 100%;
                    
                    @media screen and (min-width: 1000px) and (max-width: 1599) {
                        width: 100%;
                        height: 100%;
     
                     }
     
                    @media screen and (min-width:1600px) {
                        width: 40%;                    
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center; 

                    }
                }
            }
        }       
    }    
}


#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}